<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InvestAI | {% block title %} - {{ block.super }}{% endblock %}</title>
    <meta name="description" content="New start-up hedgefund that uses the power of AI for financial forcasting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include date-fns library -->
    <script src="https://cdn.jsdelivr.net/npm/date-fns@2.16.1/dist/date-fns.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
    <!-- Include the Chart.js date-fns adapter -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    {% block extra_js %} {% endblock %}
    <!-- Load JS files if needed -->
</head>
<body>    
    <header>
        <div class="header-container">
            <div class="header-left">
                <a href="/" class="site-name">InvestAI</a>
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/stocks/">Stocks</a></li>
                        <li><a href="/performance/">Performance</a></li>
                        <li><a href="/profile/">Profile</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 InvestAI</p>
    </footer>
</body>
</html>
